<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.snap.camerakitsamples.unity</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true />
      <key>NSAllowsArbitraryLoadsForMedia</key>
      <true />
      <key>NSAllowsArbitraryLoadsInWebContent</key>
      <true />
      <key>NSAllowsLocalNetworking</key>
      <true />
    </dict>
    <key>NSCameraUsageDescription</key>
    <string>This app needs to use the camera for AR features</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>This app needs to use your location for AR features</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>This app needs to use the microphone for AR features</string>
    <key>SCCameraKitAPIToken</key>
    <string>eyJhbGciOiJIUzI1NiIsImtpZCI6IkNhbnZhc1MyU0hNQUNQcm9kIiwidHlwIjoiSldUIn0.eyJhdWQiOiJjYW52YXMtY2FudmFzYXBpIiwiaXNzIjoiY2FudmFzLXMyc3Rva2VuIiwibmJmIjoxNjY2MDIxNTA5LCJzdWIiOiIwMTM2MWYzZi1jNjVlLTQyYWYtYjQ4Yy00MzdlOTUyZTIyYmZ-U1RBR0lOR34zOTU2MmRiMi1mNzUzLTQzODgtYWY0MS05M2Q3YThhMzkyYWQifQ.QWXI1YRWGcLoj4_3gw1B2mUBEx4bomcbO1MnCIfhtJc</string>
    <key>SCCameraKitClientID</key>
    <string>01361f3f-c65e-42af-b48c-437e952e22bf</string>
    <key>UIApplicationSceneManifest</key>
    <dict>
      <key>UIApplicationSupportsMultipleScenes</key>
      <false />
    </dict>
  </dict>
</plist>
