--allman false
--indent 4
--indentcase false
--extensionacl on-extension
--self init-only
--semicolons never
--commas always
--wrapparameters before-first
--wraparguments before-first
--wrapcollections before-first
--wrapreturntype preserve
--wrapconditions before-first
--funcattributes prev-line
--typeattributes prev-line
--varattributes same-line
--yodaswap always
--maxwidth 120
--swiftversion 5.7
--rules \
  andOperator, \
  anyObjectProtocol, \
  blankLinesAroundMark, \
  blankLinesAtEndOfScope, \
  blankLinesAtStartOfScope, \
  braces, \
  consecutiveBlankLines, \
  consecutiveSpaces, \
  duplicateImports, \
  elseOnSameLine, \
  enumNamespaces, \
  extensionAccessControl, \
  hoistPatternLet, \
  indent, \
  initCoderUnavailable, \
  leadingDelimiters, \
  linebreakAtEndOfFile, \
  modifierOrder, \
  numberFormatting, \
  preferKeyPath, \
  redundantBackticks, \
  redundantBreak, \
  redundantExtensionACL, \
  redundantFileprivate, \
  redundantGet, \
  redundantInit, \
  redundantLet, \
  redundantLetError, \
  redundantNilInit, \
  redundantObjc, \
  redundantOptionalBinding, \
  redundantParens, \
  redundantPattern, \
  redundantRawValues, \
  redundantReturn, \
  redundantSelf, \
  redundantType, \
  redundantVoidReturnType, \
  semicolons, \
  sortedImports, \
  spaceAroundBraces, \
  spaceAroundBrackets, \
  spaceAroundComments, \
  spaceAroundGenerics, \
  spaceAroundOperators, \
  spaceAroundParens, \
  spaceInsideBraces, \
  spaceInsideBrackets, \
  spaceInsideComments, \
  spaceInsideGenerics, \
  spaceInsideParens, \
  strongifiedSelf, \
  todos, \
  trailingClosures, \
  trailingCommas, \
  trailingSpace, \
  typeSugar, \
  void, \
  wrapArguments, \
  wrapAttributes, \
  wrapEnumCases, \
  wrapMultilineStatementBraces, \
  yodaConditions
