<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs to use the microphone for AR features</string>
	<key>NSCameraUsageDescription</key>
	<string>This app needs to use the camera for AR features</string>
	<key>SCCameraKitAPIToken</key>
	<string>ADD-YOUR-API-TOKEN-HERE</string>
	<key>SCCameraKitClientID</key>
	<string>ADD-YOUR-APP-ID-HERE</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
</dict>
</plist>
