<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs to use the microphone for AR features</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs to use your location for AR features</string>
	<key>NSCameraUsageDescription</key>
	<string>This app needs to use the camera for AR features</string>
	<key>SCCameraKitAPIToken</key>
	<string>eyJhbGciOiJIUzI1NiIsImtpZCI6IkNhbnZhc1MyU0hNQUNQcm9kIiwidHlwIjoiSldUIn0.eyJhdWQiOiJjYW52YXMtY2FudmFzYXBpIiwiaXNzIjoiY2FudmFzLXMyc3Rva2VuIiwibmJmIjoxNjQ1MDUzOTE1LCJzdWIiOiI4OGIwMWRlYS0wNDZlLTQ0YzEtODc5NS04ZDA0ZjAyZDExNzF-U1RBR0lOR341YWViZmIyOC1hZTNjLTQ0Y2EtYjgzYy01M2Q5MTEzZjg1YzYifQ.Bk0VO7PAxMQLRIDmNwf5ZIu-JyJbfu3kkuVXuWFnVcY</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
		<key>NSAllowsArbitraryLoadsForMedia</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>SCCameraKitClientID</key>
	<string>88b01dea-046e-44c1-8795-8d04f02d1171</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
</dict>
</plist>
